*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
  }

  body{
      color: #fff;
  }

  header .container{
    background-color: rgb(37, 39, 44);
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  header .letreiro{
    font-family: cursive;
    font-size: 40px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  header .logo{
    width: 7%; 
    border-radius: 100px;  
    margin: 5px 40px;
  }