@media screen and (max-width:800px) {
    header .container{
        display: flex;
        flex-direction: column;
    }

    .botao{
        margin-top: 5px;
        width: 300;
    }

    nav{
        margin-left: 20px;
    }

    .filme-principal{
        height: 450px;
        background-size: 750px;
    }

    h4{
        font-size: 20px;
    }
}

@media  screen and (min-width: 1000px) {
    
    
    .descricao{
        width: 50%;
    }

    .filme-principal{
        height: 600px;
        width: 100%;
    }

    nav{
        margin-left: 150px;
    }
}

@media  screen and (min-width: 1200px) {
    .filme-principal{
        height: 700px;
    }

    nav{
        margin-left: 600px;
    }
}