@media screen and (max-width:700px) {
    header .container{
        display: flex;
        flex-direction: column;
    }

    .botao{
        margin-top: 5px;
        width: 300;
    }

    nav{
        margin-left: 20px;
    }

    .filme-principal{
        height: 500px;
    }
}

@media  screen and (min-width: 1000px) {
    .descricao{
        width: 50%;
    }

    .filme-principal{
        height: 500px;
    }

    nav{
        margin-left: 250px;
    }
}

@media  screen and (min-width: 1200px) {
    .filme-principal{
        height: 700px;
    }

    nav{
        margin-left: 600px;
    }
}